<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="css/index.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <h1>Welcome to Rock-Paper-Scissors!</h1>
    <h2>Relax and take 5........&#x231B;</h2>
    <p>Please enter your name...</p>
    <form action="/game" method="post">
      
      <p>Player 1: <input id="player1-name-textbox" type="text" name="player1"></p>
      <p>Player 2: Computer &#x1F4BB;&#x1FAE3;</p>

      <input id="names-submit" type="submit" value="Submit!">
    </form>
  </body>
</html>




